* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#questionText {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
}

button {
    width: 120px;
    padding: 10px;
    margin: 8px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

#true {
    background-color: #22c55e;
}

#false {
    background-color: #ef4444;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

@media (max-width: 420px) {
    .container {
        width: 90%;
    }
}